.wizzard-main {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  width: 550px;
  min-height: 350px;
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
}

.steps-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.step-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.step-item::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid #ccc;
  width: 50%;
  top: 20px;
  left: 75%;
  z-index: 2;
}

.step-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 230, 230);
  margin-bottom: 6px;
  color: rgb(153, 153, 153);
}

.step-item.active .step-counter {
  font-weight: bold;
  color: white;
  background-color: rgb(79, 77, 88);
}
.step-item.active {
  font-weight: bold;
}

.step-item:last-child::after {
  content: none;
}

.genre-list-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.genre-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 115px;
  height: 41px;
  margin-right: 20.5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.genre-button.active {
  color: white;
  background-color: rgb(79, 77, 88);
}
.buttons-wrapper {
  position: absolute;
  bottom: 15px;
  right: 15px;
  margin-top: 20px;
}
.step-button {
  width: 105px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}
.step-button.back {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

.step-button.next {
  background-color: #4f4d58;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
  color: white;
}
.step-button.loading {
  cursor: wait;
}
.add-another-book {
  width: 200px;
  height: 40px;
  background-color: #4f4d58;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}
.step-button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.new-subgenre-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea,
select,
.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
textarea::placeholder,
.input-field::placeholder {
  opacity: 0.7;
}
input[type='checkbox'] {
  transform: scale(1.5);
}
.book-info-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}
.info-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 13px;
}
.info-label textarea,
.info-label select,
.info-label input {
  margin-top: 5px;
}

.step-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}
.checkmark {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
